body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
}
h2{
  text-align:center;
}
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 1000px black;
}
#logo{
  width: 0px;
  height: 70px;
  margin: 10px 15px 10px 0px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { 
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
  #collapsable-nav a span { 
    font-size: 1.5em;
    margin-right: 5px;
  }

.p1{
 border:solid;
  margin:40px;
  padding:20px;
  overflow:auto;
  background-color:silver;
  color:black;
  font-weight: 200px;
}
#bold p{
  font-weight: 20px;
}

div h3{
  text-align: center;
  font-weight: bold;
}

@media (max-width: 767px)
{
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw; 
    margin-top:40px;
  }
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { 
    height: 20px;
  }

  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }
  button .sr-only{
    margin-bottom:10px;
  }
  #bold{
    margin:100px;
  }
}